body {
    background-color: burlywood;
    color: brown;
    text-align: center;
}

#contador {
    text-align: center;
}

.btn {
    border: 1px solid crimson;
    padding: 7px;
    border-radius: 20px;
    background-color: lightcoral;
    font-weight: bold;
}